<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-table.js"></script>
	<script type="text/javascript" src="../indexView/services.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-table.css"/>


	<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
	<title>Input Form</title>

	<style>
		.pointer-cursor{
			cursor: pointer;
		}
		.col-centered{
			float: none;
			margin: 0 auto;
		}

	</style>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation"  ng-controller="myController">
	<div class="container-fluid">

		<div>
			<form name="myForm" class="navbar-form navbar-left">
				<input type="text" class="form-control" ng-model="patientID"
					   ng-trim="false"  name="patientID" placeholder="Patient ID" ng-change="setPatient(patientID)" required>
				<span class="text-danger" ng-show="myForm.patientID.$error.required"> Required!</span>
			</form>
		</div>

		<div class="navbar-text" style="margin-left: 30%;">
			<label>Uganda Health Clinic for AIDS</label>
		</div>

		<div class="navbar-btn navbar-right" style="margin-right: 15px;">
			<button type="submit" class="btn btn-success" ng-click="post_patient()">Submit</button>
			<button type="submit" class="btn btn-danger" ng-click="clear_form()">Clear</button>
		</div>
	</div><!-- /.container-fluid -->
</nav>

<div class="container" style="margin-top: 60px;">


	<div class="row">

		<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 col-centered">
			<div ng-controller="myController" id="item-table">
				<table class="table-hover table-condensed table table-bordered table-striped">

					<colgroup>
						<col span="1" style="width: auto;">
						<col span="1" style="width: 70px;">
						<col span="1" style="width: 70px;">
						<col span="1" style="width: 70px;">
					</colgroup>

					<thead>
					<tr ng-repeat="(key,values) in rows">
						<th class="text-right"><span class="glyphicon glyphicon-globe"></span> Artifact Entries</th>
						<th class="text-center" ng-repeat="value in values">{{value}}</th>
					</tr>
					</thead>
					<tr class="text-right" ng-repeat="(key, values) in rows">
						<td><strong>{{key}}</strong></td>
						<td ng-repeat="value in values">
							<input type="checkbox"
								   ng-model="checkboxes.checked[($index) + ($parent.$index*rowLength)]"
								   ng-true-value="{{key}} {{value}}"
								   ng-false-value="null">
						</td>
					</tr>
				</table>
				<p>Checkboxes Checked: {{checkboxes.checked}}</p>
				<p>Row Length: {{rowLength}}</p>

			</div>
		</div>
	</div>



</div>


</body>
</html>
