<!-- TODO style i CSS -->
<head>
	<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
	<style>
		.pointer-cursor{
			cursor: pointer;
		}
		.col-centered{
			float: none;
			margin: 0 auto;
		}

		.table-head-fixed {
			position: fixed;
			background-color: white;
		}


	</style>
</head>
<!-- -->
<nav class="navbar navbar-default navbar-fixed-top"
	 role="navigation">

	<div class="container-fluid">
		<div>
			<form name="myForm" class="navbar-form navbar-left">
				<input type="text" class="form-control" ng-model="patientID"
					   ng-trim="false"  name="patientID" placeholder="Patient ID"
					   required>
				<span class="text-danger" ng-show="myForm.patientID.$error.required">
					Required!
				</span>
			</form>
		</div>

		<div class="navbar-text" style="margin-left: 30%;">
			<label>{{clinicName}}</label>
		</div>

		<div class="navbar-btn navbar-right" style="margin-right: 15px;">
			<button type="submit" class="btn btn-success" ng-click="post_patient()">
				Submit
			</button>
			<button type="submit" class="btn btn-danger" ng-click="clear_form()">
				Clear
			</button>
		</div>
	</div><!-- /.container-fluid -->
</nav>

<div class="container" style="margin-top: 60px;">

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 col-centered">
			<div id="item-table">
				<table class="table-hover table-condensed table table-bordered table-striped">

					<colgroup>
						<col span="1" style="width: auto;">
						<col span="1" style="width: 70px;">
						<col span="1" style="width: 70px;">
						<col span="1" style="width: 70px;">
					</colgroup>

					<thead>
					<tr ng-repeat="(key,artifacts) in parsedDataElements">

						<th ng-show ="$index < 1" class="text-right">
							<span class="glyphicon glyphicon-globe"></span>
							Artifact Entries
						</th>
						<th class="text-center"
							ng-show ="$parent.$index < 1"
							ng-repeat="artifact in artifacts">
							{{artifact.name}}
						</th>
					</tr>
					</thead>
					<tr class="text-right" ng-repeat="(key, artifacts) in parsedDataElements">
						<td><strong>{{key}}</strong></td>
						<td ng-repeat="artifact in artifacts">
							<input type="checkbox"
								   class="pointer-cursor"
								   ng-model="artifact.value">
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
