<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/services.js"></script>

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<meta charset="UTF-8">
<title>Input Form</title>
</head>
<body>


<div id="wrapper" style="width: 100%">

	<div ng-controller="myTestController" style="float:left; width: 20%">			
		<table class="table table-hover">
			<thead>
				<th>Country</th>
			</thead>
			<tr ng-repeat="x in countries">
				<td ng-init="showDistrict=false" ng-click="showDistrict=!showDistrict">{{x}}
					<ul ng-show="showDistrict" ng-repeat="y in district">{{y}}</ul>				
				</td>
			</tr>
		</table>
	</div>
	
	<div id="expand-button-table" style="float:right; width: 80%">
		<div ng-init="showElement=false">

			<div>
				<button type="button" class="btn btn-primary btn-success" ng-click="showElement=!showElement">
				Show List</button>
			</div>
			
			<div ng-controller="myJsonReader" ng-show="showElement" id="item-table" class="table-responsive" ng-controller="values"> 
				<table class="table table-striped table-bordered table-hover" cellspacing="0">
					<thead>
						<th class="success">ID</th>
						<th class="success">Name</th>
						<th class="success">Price</th>	
					</thead>
					
				  <tr ng-repeat="variable in variables">
				    <td> {{ variable.id }} </td>
				    <td>{{ variable.name }}</td>
				    <td>{{ variable.price }}</td>
				  </tr>
				</table>
			</div>	
		</div>
	</div>	
	

	
</div>               

</body>
</html>
