<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-table.js"></script>
	<script type="text/javascript" src="../indexView/services.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-table.css"/>

	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<div class="container">
	<h1>DHIS QA-App</h1>

	<div ng-controller="myTestController">
		Search: <input ng-model="searchText">
		<table id="searchTextResults">
			<tr><th>Clinics</th></tr>
			<tr ng-repeat="clinic in clinics | filter:searchText">
				<td><a href="../formView/form.html">{{clinic}}</a></td>
			</tr>
		</table>

	</div>
</div>


</body>
</html>
