<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-table.js"></script>
	<script type="text/javascript" src="../indexView/services.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-table.css"/>

	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<div class="container">
	<h1>DHIS QA-App</h1>


	<div class="dropdown btn row" ng-controller="myController">
		<div class="col-md-6">
		<select id="programSelector" ng-change="getDistricts()" class="form-control" ng-model="program" ng-options="prog.name for prog in programList"></select>
		<select class="form-control" ng-change="getDistricts()" ng-model="country" ng-options="country.name for country in countries"></select>
		<select class="form-control" ng-change="getChiefdoms()" ng-model="district" ng-options="district.name for district in districts"></select>
		<select class="form-control" ng-change="getClinics()" ng-model="chiefdom" ng-options="chiefdom.name for chiefdom in chiefdoms"></select>
		<select class="form-control" ng-model="clinic" ng-options="clinic.name for clinic in clinics"></select>
		</div>


		<div class="col-md-6">
			Search: <input ng-model="searchText">
			<table id="searchTextResults">
				<tr><th>Clinics</th></tr>
				<tr ng-repeat="clinic in clinics | filter:searchText">
					<td><a href="../formView/form.html">{{clinic.name}}</a></td>
				</tr>
			</table>
		</div>
	</div>

</div>


</body>
</html>
