<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <script src="js/angular.min.js"></script>
    <script src="services.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
	<a href="../formView/form.html">Form html</a>
<h1>DHIS QA-App</h1>

<div ng-controller="myController">
    <select ng-model="program" ng-options="prog.name for prog in programList"></select>
    <br>
    <select ng-model="country" ng-options="country.name for country in countries"></select>
    <br>
    <select ng-model="district" ng-options="district.name for district in districts"></select>
    <br>
    <select ng-model="chiefdom" ng-options="chiefdom.name for chiefdom in chiefdoms"></select>
    <br>
    <select ng-model="clinic" ng-options="clinic.name for clinic in clinics"></select>
    <br>
    <button ng-click="getProg()">Se Id</button>
    <button ng-click="getValues()">Se Navn</button>
    <button ng-click="getDistricts()">Hent districts</button>
    <button ng-click="getChiefdoms()">Hent chiefdoms</button>
    <button ng-click="getClinics()">Hent Clinics</button>
</div>

</body>
</html>
