<div class="container">
	<h1>DHIS QA-App</h1>

	<div class="dropdown btn row" ng-controller="startController">
		<div class="col-md-6">
			<select id="programSelector" ng-model="program" ng-options="prog.name for prog in programList"></select>
		</div>
		<br/>
		<div class="col-md-6">
			Search: <input ng-model="searchText">
			<br/>
			<select ng-model="clinic" ng-options="clinic.name for clinic in clinics | filter:searchText"></select>
		</div>
		<br/>
		<br/>
		<br/>
		<a href="#/formView/{{clinic.id}}/{{program.id}}}">GOOO</a>
	</div>
</div>